
/* font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif; */
 /*color: 
 #177373 
 #F58A8A
 #032326*/

 *, *::after, * ::before{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{
color:white;
font-family: 'Roboto', sans-serif;

}
span{
color:#177373;
}


.large{
  background: linear-gradient(rgba(23,115,115,.64), rgba(242, 119,119,.28));

 margin: 5em auto;
  padding:2em;
  justify-content: center;
  align-items: center;
}
.small{
  background-color:#F58A8A ;
 
  padding:3rem;
 max-width: 400px;
 max-height: 400px;
 margin:1em;
 
  
 
}
.container{
  max-width: 600px;
  max-height: 600px;
  
 
  

 
 
}
h1{
  font-size: 2rem;
  margin-bottom: .1rem;
  padding-bottom: 0;
  line-height:0.9;
}
h4{
  margin-top: .8em;
 
  /* padding-top:0; */

}
.input-text  {
  font-weight: 100;
}
.gap{gap:1em;}
.large, .small,.middle{
  border-radius:5px;
  border:none;
}
.row{
  display:flex;
}
.col{
  display: flex;
  flex-direction:column;
}
button{
  background-color: #177373  ;
  border:none;
  color:white;
  padding:.5em 1em;
  border-radius:5px ;
  width:fit-content;
}
button:hover, 
button:focus{
  opacity: 80%;
}
.password-generator{
  margin:2em 0;
  justify-self: flex-start;
}
.line{
  
 
  border:solid .5px #177373 ;
 
  margin:1em auto;
  width:100%;

   

}
.center{
  align-items: center;
  justify-content: center;
}
.middle-left, .middle-right{
  background-color:#0A373C ;
  padding:.25em .5em;
  min-width:fit-content;
  width:40%;
  margin-bottom: 1em;
  border-radius:5px ;
}



@media (max-width:500px){
  html{
    font-size: 10px;
  }}

  @media (max-width:400px){
    .container-small-middle-left{
      align-items: center;
    justify-content: center;
    }
  }
 @media (min-width:1000px) {
  html{
    font-size: 38;
  }
  
 }
